<h3>Travelers</h3>
<ul>
  <traveler-dropdown info='traveler' ng-repeat='traveler in travelers'/>
</ul>

<form ng-submit='addDestination()'>
  <p>Destination: <input type='text' ng-model="newDestination"></p>
  <p><input type='submit' value='Add destination'></p>
</form>
